body{
margin:0;
font-family:Arial;
text-align:center;
color:white;
overflow-x:hidden;
background:linear-gradient(45deg,#ff758c,#ff7eb3,#fad0c4);
background-size:400% 400%;
animation:fondo 12s infinite;
}

@keyframes fondo{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

/* pantalla inicial */
#inicio{
position:fixed;
width:100%;
height:100%;
background:#ff758c;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:5;
cursor:pointer;
}

.contenido{
opacity:0;
transition:1s;
}

.contenido.visible{
opacity:1;
}

.galeria{
display:flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;
margin:15px;
opacity:0;
transform:translateY(30px);
transition:1s;
}

.galeria img{
width:120px;
height:180px;
object-fit:cover;
border-radius:15px;
}

.galeria.visible{
opacity:1;
transform:translateY(0);
}

/* carta */
.sobre{
margin-top:20px;
perspective:1000px;
}

.carta{
background:white;
color:black;
padding:20px;
border-radius:10px;
max-width:600px;
margin:auto;
transform:rotateX(-90deg);
transform-origin:top;
transition:1s;
}

.sobre.abierto .carta{
transform:rotateX(0);
}

/* mensaje final */
.final{
opacity:0;
margin:30px;
font-size:20px;
transition:1s;
}

.final.visible{
opacity:1;
}

/* corazones */
.corazon{
position:fixed;
top:-10px;
color:red;
font-size:20px;
animation:caer linear forwards;
}

@keyframes caer{
to{
transform:translateY(110vh);
opacity:0;
}
}
