body{
margin:0;
font-family:Arial;
text-align:center;
color:white;
overflow-x:hidden;
background:linear-gradient(45deg,#ff758c,#ff7eb3,#fad0c4);
background-size:400% 400%;
animation:fondo 12s infinite;
}

@keyframes fondo{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

.overlay{
padding:20px;
}

h1{font-size:26px;}

#contador{
margin:10px;
font-size:18px;
}

/* Galería sin distorsión */
.galeria{
display:flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;
margin:15px;
}

.galeria img{
width:120px;
height:180px;
object-fit:cover;
border-radius:15px;
}

/* Botón */
button{
padding:12px;
border:none;
border-radius:10px;
background:white;
color:#ff4d6d;
font-size:16px;
margin:10px;
cursor:pointer;
}

/* Carta animada */
.sobre{
margin-top:20px;
perspective:1000px;
}

.carta{
background:white;
color:black;
padding:20px;
border-radius:10px;
max-width:600px;
margin:auto;
transform:rotateX(-90deg);
transform-origin:top;
transition:1s;
}

.sobre.abierto .carta{
transform:rotateX(0);
}

/* corazones */
.corazon{
position:fixed;
top:-10px;
color:red;
font-size:20px;
animation:caer linear forwards;
}

@keyframes caer{
to{
transform:translateY(110vh);
opacity:0;
}
}

transform:translateY(110vh);
opacity:0;
}
}
