body{
  margin:0;
  font-family:'Amatic SC',cursive;
  overflow:auto;
  color:white;
  text-align:center;
}

.fondo{
  position:fixed;
  width:100%;
  height:100%;
  background:linear-gradient(45deg,#ff4d6d,#ff758f);
  z-index:-1;
}

.container{
  margin-top:40px;
  padding:10px;
}

.boton{
  font-size:32px;
  cursor:pointer;
  padding:10px;
}

.carta{
  opacity:0;
  max-width:95%;
  margin:auto;
  background:rgba(0,0,0,0.3);
  padding:15px;
  border-radius:15px;
  transform:scale(0.7);
  font-size:20px;
  line-height:1.3em;
}

.abrir{
  opacity:1;
  transform:scale(1);
  transition:1.2s;
}

.carta h2{font-size:28px;}
.carta h3{font-size:22px;}
.carta h4{font-size:20px;}

/* corazones */
.hearts{
  position:fixed;
  width:100%;
  height:100%;
  pointer-events:none;
}

.heart{
  position:absolute;
  top:-10px;
  color:white;
  font-size:18px;
  animation:fall linear forwards;
}

@keyframes fall{
  to{
    transform:translateY(110vh);
    opacity:0;
  }
}
